.battery {
    width: 60vw;
    height: 30vw;
    border: 1.5vw solid black;
    border-radius: 1vw;
    padding: 2vw;

    .stackParent {
        position: relative;

        .stackChild {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
        }
    }

    .filling {
        background-color: lightgreen;
    }

    .label {
        font-size: 8vw;
    }
}

.knob {
    background-color: black;
    height: 2vw;
    width: 8vw;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 5vw;
    color: black;
}
